body.reveal {
    margin: 0;
}

.hide-title>header{
 display: none
}

/* Prevent extra slide from printing due to MathJax incompatability */
@media print {
  body > #aria-status-div {
    display: none;
  }
}

